<div class="card-book">
  <a href="/books/<%= book["id"] %>?url=<%= book["selfLink"]%>">
    <% unless book["volumeInfo"]["imageLinks"].nil? %>
      <img src="<%= book["volumeInfo"]["imageLinks"]["thumbnail"] %>" alt="<%= book["volumeInfo"]["title"] %>">
    <% else %>
      <img src="images/default-book.jpg" alt="<%= book["volumeInfo"]["title"] %>">
    <% end %>
  </a>
  <form action="/books/<%= book["id"] %>/edit" method="put">
    <input type="hidden" name="state" value="<%= STATUS_WANT_TO_READ %>">
    <button type="submit">Want to read</button>
  </form>
  <form action="/books/<%= book["id"] %>/edit" method="put">
    <input type="hidden" name="state" value="<%= STATUS_READ %>">
    <button type="submit">Mark as read</button>
  </form>
</div>