<img src="<%= book.cover%>" alt="" />

<h1>
  <%= book.title %>
</h1>

<% unless book.author == ""%>
<p>by <%= book.author%></p>
<% end %>

<form action="/books/<%= book.id%>/edit" method="POST">
  <select name="status" id="status">
    <option value="<%= STATUS_WANT_TO_READ%>" <% if book.status == STATUS_WANT_TO_READ%>selected<% end %>><%= STATUS_WANT_TO_READ%></option>
    <option value="<%= STATUS_READ%>" <% if book.status == STATUS_READ%>selected<% end %>><%= STATUS_READ%></option>
    <option value="<%= STATUS_READING%>" <% if book.status == STATUS_READING%>selected<% end %>><%= STATUS_READING%></option>
  </select>
  <textarea name="note" id="note" cols="30" rows="10"><%= book.note%></textarea>
  <input type="submit" value="Save"/>
</form>
