<<<<<<< HEAD
<div class="container-big">
  <h1>My books</h1>
  <div class="books_container w-100-percent">
    <table class="books__table w-100-percent">
      <tr>
        <th class="text-left">Cover</th>
        <th class="books__table__th--title text-left">Title</th>
        <th class="text-left">Author</th>
        <th class="text-left">Status</th>
        <th class="text-left">Date added</th>
        <th class="books__table__th--options"></th>
      </tr>
      <%Book.all.each do |book|%>
      <tr class="books__table__row">
        <td class="books__table__data">
          <img src="<%=book.cover%>" alt="<%=book.title%> cover" class="books__table__data--cover"/>
        </td>
        <td class="books__table__data vertical-align-top text-orange">
          <%=book.title%>
        </td>
        <td class="books__table__data vertical-align-top">
          <%=book.author%>
        </td>
        <td class="books__table__data vertical-align-top">
          <%=book.status%>
        </td>
        <td class="books__table__data vertical-align-top">
          <%=p book.date.to_date.strftime("%B %d, %Y")%>
        </td>
        <td class="books__table__data flex justify-content-center">
          <a href="/books/<%=book.id%>/edit" class="btn btn-transparent-green flex align-items-center">
            <i class="fas fa-edit"></i>
          </a>
          <form action="/books/<%=book.id%>/delete" method="POST">
            <button type="submit" class="btn btn-transparent-red">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
</div>
=======
<h1>My books</h1>

<table>
  <tr>
    <th>Cover</th>
    <th>Title</th>
    <th>Author</th>
    <th>Status</th>
    <th>Date added</th>
    <th></th>
  </tr>
  <%Book.all.each do |book|%>
  <tr>
    <td><img src="<%=book.cover%>" alt="<%=book.title%> cover" /></td>
    <td><%=book.title%></td>
    <td><%=book.author%></td>
    <td><%=book.status%></td>
    <td><%=p book.date.to_date.strftime("%B %d, %Y")%></td>
    <td>
      <%= erb "../partials/_edit_delete_icons".to_sym, locals: {book: book} %>
    </td>
  </tr>
  <%end%>
</table>
>>>>>>> edit, delete icons added
